h1 {
  text-align: center;
}

.item-quantity {
  width: 60px;
}

.item-name {
  overflow: hidden;
  font-weight: bold;
}

.item-name-checked {
  text-decoration: line-through;
}

.label-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  align-self: stretch;
  
  border-right: solid 1px #eee;

  cursor: pointer;
}

.item-name,
.label-toggle,
input[type='checkbox'] {
  cursor: pointer;
}

.list-group-item .row {
  align-items: center;
}